<h1>{{title}}</h1>
<h2>Hello dev, you are onboarded!</h2>
<h3>You are running:</h3>
<ul>
    <li>A NodeJS web application running Express</li>
    <li>Redis as a distributed cache</li>
</ul>
<br/>
<br/>
<span>.. and you didn't have to physically install any of those things, or know any of the commands to build the app!! &#128562;</span>
<br/>
<br/>
<img src="/images/clap.gif" />
